<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Subscription Management - Chargebee - Subscribe Now</title>
        <meta charset="utf-8">
        {# TODO REPLACE SITE WITH ENVIRONMENT VARIABLE #}
        <script src = "https://js.chargebee.com/v2/chargebee.js"  data-cb-site = "rubenvilar-test" > </script>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/chargebee">Index</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section>
                <a href = "javascript:void(0)"  data-cb-type = "checkout"  data-cb-plan-id = "cbdemo_free" > Open Checkout </a>
            </section>
        </main>
        <footer></footer>
    </body>
</html>